.form
  .form-group-columns
    = form_for [:admin, @event]  do |f|
      = f.text_field :name, placeholder: "Name"
      = f.label :date
      = f.date_select(:date , :start_year => 2016)
      = f.text_area :description
      /want to figure out best address verification for user input UX
      = f.submit :save
