.container
  %p
    Name: #{@event.name}
  %p
    Date: #{@event.date}
  %p
    Description: #{@event.description}
  %p
    Location: #{@event.location}
  %p
    Image:
  = link_to "Edit event", edit_admin_event_path(@event), class: "button"
  = link_to "Delete event", admin_event_path(@event), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: "button button-delete"
