%div
  = @event.name
  = @event.date
  = @event.description
  = @event.id

  = link_to "Edit Event", edit_admin_event_path(@event)

  = link_to "Delete Event", admin_event_path(@event), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }
