
<%= form_for @attendee do |f| %>
    <%= f.text_field :first_name, autofocus: true, placeholder: "First Name" %></br>
    <%= f.text_field :last_name, placeholder: "Last Name" %></br>

    <%= f.email_field :email, placeholder: "Email" %></br>
    <%= f.text_field :company, placeholder: "Company" %>
  <div class="actions">
    <div class="space"></div>
    <%= f.submit :save %>
  </div>
<% end %>
