<%= form_for @attendee do |f| %>
    <%= f.text_field :first_name, autofocus: true, placeholder: "First Name" %></br>
    <%= f.text_field :last_name, placeholder: "Last Name" %></br>
    <%= f.email_field :email, placeholder: "Email" %></br>
    <%= f.text_field :company, placeholder: "Company" %>
  <div class="actions">
    <div class="spacer"></div>
  </div>

  <%# @event.name %>
    <%= f.fields_for :ticket do |ticket_field| %>
    <ul class="ticket-type-group">
      <li class="ticket-form">
        <%# ticket_field.select @event.ticket_types %>
        <%# render selected ticket_type cost %>

      </li>
    </ul>
    <% end %>
    <%# f.submit "Pay Now", class: "button" (callback here) %>
<% end %>
