.container
  %p
    Name: #{@event.name}
  %p
    Date: #{@event.date}
  %p
    Description: #{@event.description}
  %p
    Location: #{@event.location}
  %p
    Image:
    %br/
    .button-path
      = link_to "Get Ticket", new_event_ticket_path(@event), class: "button"
