.form
  .form-group-columns
    = form_for [:admin, @attendee]  do |f|
      = f.text_field :first_name, placeholder: "First Name"
      = f.text_field :last_name, placeholder: "Last Name"
      = f.email_field :email, placeholder: "Email"
      = f.text_field :company, placeholder: "Company"
      = f.submit :save, class: "button"
